.portfolio {

    .container {
        padding: 0 2rem;
        max-width: 80rem;
    }
}

.portfolio__item {
    margin: 3rem 0;
    transform: skewY(-2deg) translateY(90px);
    opacity: 0;
    transition: all .8s ease;

    @media (min-width: 1000px) {
        margin: 5rem 0 8rem 0;
    }
}

.portfolio__item.skewed {
    transform: skewY(-4deg) translateY(0);
    opacity: 1;
}

.portfolio__previews {
    margin-bottom: 2rem;
}

.portfolio__browser-window {
    max-width: 256px;
    display: block;
    position: relative;
    z-index: 10;
}

.portfolio__phone {
    max-width: 180px;
    display: block;
    position: relative;
    top: 104px;
    z-index: 20;
}

.browser-video-container {
    x: 6px;
    y: 25px;
}

$ratio-width: 302px;
$ratio-height: 225px;

.browser-video {
    position: absolute;
    top: 0; left: 50%;
    transform: translate(-50%, 11%);
    z-index: 20;
    $scale01: 0.83;
    width: $ratio-width * $scale01;
    height: $ratio-height * $scale01;
}

$p-ratio-width: 246px;
$p-ratio-height: 400px;

.phone-video {
    $scale02: .715;
    width: $p-ratio-width * $scale02;
    height: $p-ratio-height * $scale02;
}

.portfolio__itemdesc {
    @media (min-width: 1000px) {
        display: flex;
    }
}

.description-item {
    flex: 1;

    @media (min-width: 1000px) {
        padding-right: 1rem;
    }

    h3 {
        font-size: 2rem;
        text-decoration: underline;
        margin-bottom: 0;
    }
}

.description-item:last-child {
    padding-right: 0;
}

.portfolio__project-heading {
    font-size: 2.5rem;
    letter-spacing: -0.1rem;
    margin-top: 0;
    margin-bottom: 0.2rem;
    display: inline-block;
    padding: .2rem;
    background-color: $yellow;
}

.portfolio__project-subheading {
    color: #555;
    font-size: 1.2rem;
    font-weight: normal;
    display: inline-block;
    letter-spacing: -0.06rem;

    @media (min-width: 1000px) {
        font-size: 1.5rem;
    }
}

.portfolio__meta {
    margin-top: 1rem;
    color: #777;
}

.portfolio__site_link {
    background-image: url('../img/link-external.svg');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: auto 70%;
    display: inline-block;
    padding-right: 1.1rem;
}

.portfolio__buzzwords {
    margin-top: .3rem;
}
