<div class="container">
    <p class="cv-download">Download: <a href="downloads/cv.pdf">.pdf</a>, or <a href="downloads/cv.md">.md</a></p>

    <div class="cv-main">
        <%- partial("_cv.md") %>
    </div>
</div>
