<div class="summary">
    <div class="summary__content">
        <div class="summary__content__inset">
            <h2 class="summary__content__heading">Look at me!</h2>
            <p class="summary__content__subheading">I'm a web designer and developer based in Prague, Czech Republic.</p>
            <p>I help small organizations to communicate with their customers through the magic of the Web. Let's talk about your website.</p>
        </div>
    </div>

    <div class="summary__contact">
        <div class="summary__contact__inset">
            <h2 class="summary__contact__heading">Let’s hook up.</h2>
            <p>I’m interested in your project – tell me all about it!</p>
            <p><a href="mailto:f@filipruzicka.com">f@filipruzicka.com</a> – +420&nbsp;724&nbsp;124&nbsp;888</p>

            <hr class="contact-hr">

            <p>
                <a href="https://www.linkedin.com/in/filipruzicka/">LinkedIn</a> – <a href="https://github.com/ddx32">GitHub</a> – <a href="https://twitter.com/filipruzicka">Twitter</a> – <a href="http://vsco.co/ddx32">VSCO</a> – <a href="http://ddxlog.tumblr.com">Photo&nbsp;blog</a> – <a href="https://instagram.com/ddx/">Instagram</a> – <a href="https://www.flickr.com/photos/filipruzicka/">Flickr</a>
            </p>

            <hr class="contact-hr">

            <p class="summary__contact__ico">IČO: 04175034</p>
        </div>
    </div>
</div>
