<section class="portfolio">
    <article class="portfolio__item">
        <div class="container">
            <h2 class="portfolio__project-heading">
                Rupexim Drive
            </h2>
            <small class="portfolio__project-subheading">
                // complete comissioned microsite
            </small>

            <div class="portfolio__meta">
                <a href="https://rupeximdrive.cz" target="_blank" class="portfolio__site_link">Launch live site</a>
                <div class="portfolio__buzzwords">
                    Buzzwords: Sass, Gulp, jQuery, HTTPS, Bootstrap 4, SVG, mobile first
                </div>
            </div>

            <div class="portfolio__itemdesc">

                <div class="description-item">
                    <h3>The Problem</h3>
                    <p>The client company needed to showcase their loyalty program in a way that is cohesive and easy to understand for customers and gain new members through online registration.</p>
                </div>

                <div class="description-item">
                    <h3>The Solution</h3>
                    <p>A lightweight static microsite showcasing the benefits of the product in a clear manner. My involvement includes all stages of development – Website design, membership card design, photography and code.</p>
                </div>

                <div class="description-item">
                    <h3>Fun Facts</h3>
                    <p>After unsuccessfully searching for a jQuery plugin for a flexible and unbloated automatic content infinite side scrolling on this site, I decided to write one myself and <a href="https://github.com/ddx32/jquery.fineScroller">release it on GitHub</a>.</p>
                </div>
            </div>
        </div>
    </article>

    <article class="portfolio__item">
        <div class="container">

            <div class="portfolio__previews">
                <svg width="609px" height="500px" viewBox="0 0 609 500" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="browser-window" stroke="#273AEF" stroke-width="2">
                            <foreignObject x="2" y="45">
                                <video width="604" height="450" autoplay="" loop="">
                                  <source src="video/fs-d.mov" type="video/mp4">
                                </video>
                            </foreignObject>
                            <path d="M72,32 C67.0294373,32 63,27.9705627 63,23 C63,18.0294373 67.0294373,14 72,14 C76.9705627,14 81,18.0294373 81,23 C81,27.9705627 76.9705627,32 72,32 Z" id="butt-3"></path>
                            <path d="M48,32 C43.0294373,32 39,27.9705627 39,23 C39,18.0294373 43.0294373,14 48,14 C52.9705627,14 57,18.0294373 57,23 C57,27.9705627 52.9705627,32 48,32 Z" id="butt-2"></path>
                            <path d="M24,32 C19.0294373,32 15,27.9705627 15,23 C15,18.0294373 19.0294373,14 24,14 C28.9705627,14 33,18.0294373 33,23 C33,27.9705627 28.9705627,32 24,32 Z" id="butt-1"></path>
                            <path d="M590,13.9984707 L590,33.0015293 C590,34.6563563 588.658213,36 587.005481,36 L100.994519,36 C99.3411338,36 98,34.6576225 98,33.0015293 L98,13.9984707 C98,12.3436437 99.3417875,11 100.994519,11 L587.005481,11 C588.658866,11 590,12.3423775 590,13.9984707 Z" id="url-bar"></path>
                            <path d="M608,6.41297258 L608,493.587027 C608,496.51999 604.904401,499 600.992951,499 L8.00704915,499 C4.08901494,499 1,496.524154 1,493.587027 L1,6.41297258 C1,3.48000957 4.095599,1 8.00704915,1 L600.992951,1 C604.910985,1 608,3.47584606 608,6.41297258 Z" id="window"></path>

                        </g>
                    </g>
                </svg>

                <svg width="250px" height="470px" viewBox="0 0 250 470">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="phone" stroke="#273AEF" stroke-width="2">
                            <foreignObject x="2" y="20">
                                <video width="246" height="400" autoplay="" loop="" controls="">
                                  <source src="video/fs-d.mov" type="video/mp4">
                                </video>
                            </foreignObject>
                            <rect id="device" x="1" y="1" width="248" height="468" rx="21"></rect>
                            <path d="M1.36544303,33.5595238 L248.77254,33.5595238" id="top-line" stroke-linecap="square"></path>
                            <path d="M102.807906,16.9325397 L146.780832,16.9325397" id="speaker" stroke-linecap="square"></path>
                            <path d="M1.36544303,434.559524 L248.77254,434.559524" id="bottom-line" stroke-linecap="square"></path>
                            <rect id="home" x="114" y="444" width="21.5288751" height="15.625" rx="7.8125"></rect>
                        </g>
                    </g>
                </svg>
            </div>

            <h2 class="portfolio__project-heading">
                Finstar.eu
            </h2>
            <small class="portfolio__project-subheading">
                // complete comissioned website
            </small>

            <div class="portfolio__meta">
                <a href="https://finstar.eu" target="_blank" class="portfolio__site_link">Launch live site</a>
                <div class="portfolio__buzzwords">
                    Buzzwords: Wordpress, SCSS, Gulp, jQuery, HTTPS, Bootstrap, SVG, mobile first
                </div>
            </div>

            <div class="portfolio__itemdesc">

                <div class="description-item">
                    <h3>The Problem</h3>
                    <p>The client company needed an easily editable online catalog of products they manufacture and distribute for their wholesale customers. All they had was a logo, a bunch of PDFs and nowhere to point their customers to.</p>
                </div>

                <div class="description-item">
                    <h3>The Solution</h3>
                    <p>A lightweight Wordpress-based website that contains basic product information as well as sophisticated product application guidance.</p>
                </div>

                <div class="description-item">
                    <h3>Fun Facts</h3>
                    <p>The site was built with a minimum amount of plugins, utilizing the Wordpress API as much as possible. And since the client company handles orders manually, the inquiry system was built as frontend-only (which means it's super snappy).</p>
                </div>
            </div>

        </div>
    </article>
</section>
