<footer class="site-footer">
    <div class="container">
        <p>L.P. 2017 – handcrafted in Prague – no copyrights, please share freely</p>

        <p>Curious? See source on <a href="#">GitHub</a>.</p>
    </div>
</footer>
